NEXT_PUBLIC_SUPABASE_URL=https://uqukfjtwsuffeunikiwz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON=sb_publishable_8Be9xpxGtJDsM8AGtcDwmQ_Z_WPhYQ_
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui
OPENAI_API_KEY=sua_openai_key_aqui

NEXT_PUBLIC_INTERNAL_CHAT_ENABLED=false
